body{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	margin-right: 0;
	text-align: center;
}

h1{
	margin-top: 5vh;
	font-size: 10vh;
	color: #FFFFFF;
}

div#aboutme {
	margin-top: -1em;
	margin-left: -1em;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 3vh;
}

a:hover { 
	color: #607D8B;
	padding-top: 4vh;
	border-top: 3px solid white;
}


ul#menu{
	margin: 0 auto;
	margin-top: 6vh;
	padding-top: 4vh;
	width: 60%;
	border-top: 1px solid white;
}

li {
	list-style-type: none;
  	padding-right: 3vw;
  	display: inline;

}

div.blog-entry{ 
	width: 100%;
	margin-left: -1em;
	padding-bottom: 5em;
	padding-top: 2em;
	padding-right: 1em;
	height: 100vh;
	background-size: cover;
}


h3.section-title{
	text-align: center;
	width: 100%;
	font-size: 8vh;
	color: black;
	margin-top: 0;
}

#profpic{
	width: 100%;
	text-align: center;
}

#profilepic{
	width: 15vmax;
	height: 15vmax;
}


div#aboutme{
	background-image: url("../assets/tropical.jpg");
	height: 100vh;
}

#aboutme p{
	margin: 0 auto;
	font-size: 3vh;
	width: 60%;
	color: #FFFFFF;
}

div#mywork h3{
	color: #FFFFFF;
}
div#mywork{
	background-image: url("../assets/worksmall.jpg");
}

div#contactme{
	background-image: url("../assets/contactpic.jpg");
}

div#footer{
	clear: both;
	background-color: #FFFFFF;
	padding-top: 1em;
	margin-bottom: -1em;
}

#footer p{
	width: 100%;
	font-size: 3vh;
}
