
body{
	font-family: 'Roboto', sans-serif;
}

div#heading, div#content, div.banner, div#footer{
	margin-left: -1em;
	margin-top: -1em;
}

div#content{
	padding-right: 1em;
}
div.banner{
	margin-right: 0;
}

div#about, div#contact, div#portfolio{
	position: relative;
	top: -150px;
}

div#heading{
	position: fixed;
	background-color: #03A9F4;
	width: 100%;
}	
div#heading h1{
	padding-left: 2rem;
	margin-top: 0.2em;
	margin-bottom: 0;
	color: white;
	font-size: 350%;
	text-align: left;
}

div#heading h3{
	padding-left: 2rem;
	margin-top: 0.2em;
	margin-bottom: 0;
	font-size: 150%;
	color: white;
	text-align: left;
}

.banner h1, .banner h4{
	width: 100%;
	color: #000000;
	text-shadow: 0.03em 0.03em #FFFFFF;
	font-size: 400%;
}

.banner h4{
	font-size: 250%;
}

h1, h4, h3, h5{
	text-align: center;
	color: black;
}

div#body{
	padding-top: 9em;
}

a{
	color: #FFFFFF;
	font-size: 120%;
	text-align: center;
	text-decoration: none;
}

a:hover { 
	color: #607D8B;
}

div#content{
	background-color: #B6B6B6;/*#03A9F4;*/
	float: left;
	width: 100%;
	height: 100%;
}


div.table{
	display: table;
	margin: 0 auto;
}

ul#menu{
	width: 100%;
	height: 100%;
	margin: 0;
	margin-bottom: 1em;
	padding-left: 0; 
}

li {
	list-style-type: none;
  	padding-right: 5em;
  	display: inline;
  	text-align: center;
}


div#blog-area{
	background-color: #B6B6B6;/*#03A9F4;*/
	width: 90%;
	height: 100%;	
	margin: 0 auto;
}

div.blog-entry{ 
	background-color: #FFFFFF;
	padding: 1em;
	margin: 0 auto;
	width: 95%;
	border-bottom-style: solid;
	border-color: #B6B6B6;
	border-width: 0.1em;
}

.blog-entry h3{
	font-size: 200%;
}

#intro{
	text-align: center;
	width: 100%;
	font-size: 250%;
}

.blog-entry h3, .blog-entry h5{
	color: black;
	text-align: left;
	float: left;
	margin: 0;
}

.blog-entry h5{
	font-size: 120%;
	clear: left;
}

.banner{
	width: 100%;
	padding-right: 2em;
	height: 100%;
	background-image: url("http://archetypon.net/preview/photographos/vii/panorama/files/page3-1003-full.jpg");
	background-size: 100% 110%;
}

.blog-entry p{
	padding-left: 1em;
	color: black;
	font-size: 120%;
}

div#footer{
	clear: both;
	height: 15em;
	background-color: #B6B6B6;
	margin-bottom: -1em;
}

#profilepic{
	margin-top: 2em;
	width: 30%;
	height: 30%;
}

#profpic{
	width: 100%;
	text-align: center;
}


p{
	color: #000000;
	/*font-weight: bold;*/
	font-family: arial;
	padding-left: 2rem;
}
