
body{
	font-family: 'Roboto', sans-serif;
	margin-right: 0;
}

h1, h4, h3, h5{
	text-align: center;
	color: black;
}

p{
	color: #000000;
	font-family: arial;
	text-align: justify;
	margin: 0 auto;
	font-size: 3vh;
	width: 80%;
}

div#heading, div.banner {
	margin-top: -1em;
	margin-left: -1em;
}

div#portfolio, div#contact, div#about{
	position: relative;
	top: -15vh;
}


div#heading{
	position: fixed;
	background-color: #03A9F4;
	width: 100%;
	height: 17vh;
}	

div#heading h1{
	padding-left: 2rem;
	margin-top: 4vh;
	margin-bottom: 0;
	color: white;
	font-size: 6vh;
	text-align: left;
}

.banner h1{
	text-shadow: 0.03em 0.03em #FFFFFF;
	font-size: 10vh;
	padding-top: 30vh;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 3vh;
}

a.textfield{
	color: blue;
	text-decoration: underline;
}

a:hover { 
	color: #607D8B;
}


ul#menu{
	margin-top: 1vh;
	padding-left: 2rem;
}

li {
	list-style-type: none;
  	padding-right: 3vw;
  	display: inline;
}

div.blog-entry{ 
	width: 100%;
	margin-left: -1em;
	padding-bottom: 5em;
	padding-top: 2em;
	padding-right: 8px;
	height: 100vh;
	background-size: cover;
}


h3.section-title{
	text-align: center;
	width: 100%;
	font-size: 8vh;
	color: black;
	margin-top: 0;
}


.banner{
	width: 100%;
	padding-right: 8px;
	height: 110vh;
	background-image: url("http://archetypon.net/preview/photographos/vii/panorama/files/page3-1003-full.jpg");
	background-size: cover;
}

#profpic{
	width: 100%;
	text-align: center;
}

#profilepic{
	width: 20vmax;
	height: 20vmax;
}


div#aboutme{
	height: 100%;
}

div#mywork h3{
	color: #FFFFFF;
}
div#mywork{
	background-image: url("../assets/worksmall.jpg");
}

div#contactme{
	background-image: url("../assets/contactpic.jpg");
}

div#footer{
	clear: both;
	background-color: #FFFFFF;
	padding-top: 1em;
	margin-bottom: -1em;
}

#footer p{
	width: 100%;
	text-align: center;
	font-size: 2vh;
}
