html, body {
    overflow-x: hidden;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	text-align: center;
}

h1{
	margin-top: 5vh;
	font-size: 10vh;
	color: #FFFFFF;
}

#contact-top img{
  width: 5vh;
  height: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: -3vh;
  margin: 0vw;
}

div#aboutme {
	padding-top: 1em;
	margin-left: -1em;
}

#menu a{
	color: white;
	text-shadow:
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
	text-decoration: none;
	font-size: 4vmin;
}

#menu a:hover{
	color:gray;
}

ul a:hover{
	padding-top: 4vh;
	border-top: 3px solid white;
}


ul#menu{
	margin: 0 auto;
	margin-top: 4vh;
	padding-top: 4vh;
	width: 65%;
	border-top: 1px solid white;
}

li {
	list-style-type: none;
  	padding-right: 4vw;
  	display: inline;

}

div.blog-entry{
	width: 100%;
	margin-left: -1em;
	padding-bottom: 5em;
	padding-top: 2em;
	padding-right: 1em;
	height: 100vh;
	background-size: cover;
}


h3.section-title{
	text-align: center;
	width: 100%;
	font-size: 7vh;
	color: white;
	margin-top: 0;
}

#profpic{
	width: 100%;
	text-align: center;
  margin-bottom: -5vh;
}

#profilepic{
	width: 22vh;
}


div#aboutme{
	/*background-image: url("../assets/tropical.jpg");*/
	background-image: url("http://farm8.staticflickr.com/7088/6972960976_3136a7def0_o.gif");
	height: 100vh;
}

div#aboutme h1{
	color: white;
    text-shadow:
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

div#aboutme p{
	width: 60%;
	color: white;
	font-size: 4vmin;
    text-shadow:
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}

p{
	margin: 0 auto;
	font-size: 3vh;
	width: 80%;
	color: #FFFFFF;
}

div#myskills{
	background-image: url("../assets/skillsback.jpg");
	height: 100vh;
	background-size: 100% 100%;
}

div#myskills h3{
	margin-bottom: 0;
}

div#langskills{
	padding-left: 15vw;
	width: 80%;
	height: 80%;
	text-align: center;
}

div#myskills img{
	float: left;
	margin-top: 5vh;
	padding-right: 2.5vw;
	width: 15vmax;

}

div#mywork{
	background-image: url("../assets/worksmall.jpg");
  height: 250vh;
}
#work-area{
  padding-left: 15vw;
}

.work-item img{
  width: 20vw;
  height: 30vh;
  float: left;
}

.work-item h3{
  text-align: left;
  position: relative;
  margin-left: 22vw;
  margin-bottom: 2vh;
  padding-top: 1vh;
  font-size: 6vh;
  color: black;
}

.work-item p{
  margin-left: 22vw;
  width: 70%;
  font-size: 2vh;
  text-align: left;
  color: #000000;
}

.work-item a{
  text-decoration: none;
  color: blue;
}

.work-item a:hover{
  font-style:oblique;
}
.work-item{
  background-color: #EEEEEE;
  height: 30vh;
  width: 80vw;
  -webkit-box-shadow: 10px 10px 0px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 0px 4px rgba(0,0,0,0.75);
  box-shadow: 0 50px 25px -25px rgba(0,0,0,0.75);
}

div#contactme{
	background-image: url("../assets/contactpic.jpg");
}

#contactme h3{
	color: white;
}

#contactme p{
	margin-bottom: 15vh;
	color: white;
	font-family: 'Arial';
	font-weight: 300;
}
.social{
	margin-left: 3vw;
	margin-right: 3vw;
	opacity: 0.6;
	width: 10vmax;
	height: 10vmax;
}

.social:hover {
	opacity: 1;
}

div#footer{
	clear: both;
	background-color: #FFFFFF;
	padding-top: 1em;
	margin-bottom: -1em;
}

#footer p{
	width: 100%;
	font-size: 2vh;
	color: #000000;
}

#footer a{
	color: blue;
	text-decoration: underline;
	font-size: 2vh;
	margin: 0 auto;
}

#mario{
	clear: both;
	position: absolute;
	margin: 0 auto;
	margin-left: -20vw;
	padding-top: 30vh;
}

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

#cat{
  width: 20vmin;
  height: 20vmin;
  clear: both;
  opacity: 0;
}

#cat:hover{
  opacity: 1;
}
